@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
* {
  color: #576A62;
  font-family: 'Pangolin', cursive;
  font-size: 27.09pt;
}
::-moz-selection { /* Code for Firefox */
  color: white;
  background: #d4d4d4;
}

::selection {
  color: white;
  background: #686565;
}
body {
  background-image: url('/background.jpg');
  background-size: cover;
  /* disable select */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App .wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App .Logo {
  font-size: 40.46pt;
  margin: 25px 0 25px 0;
}